<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div>
<form action="/login" method="post">

    <label for="phoneNumber">Phone number :</label>
    <input type="phoneNumber" id="phoneNumber" name="phoneNumber"><br><br>

    <label for="password">Password :</label>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Register">

</form>
</div>
</body>
</html>