<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div>
<form action="/register" method="post">

    <label for="fistName">First name :</label>
    <input type="fistName" id="fistName" name="fistName"><br><br>

    <label for="lastName">Last name :</label>
    <input type="lastName" id="lastName" name="lastName"><br><br>

    <label for="phoneNumber">Phone number :</label>
    <input type="phoneNumber" id="phoneNumber" name="phoneNumber"><br><br>

    <label for="password">Password :</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="warehouseIds">Warehouse Id :</label>
    <input type="warehouseIds" id="warehouseIds" name="warehouseIds"><br><br>

    <input type="submit" value="submit">

</form>
</div>
</body>
</html>